<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TARUMT Exam Attendance</title>
    <!-- Favicon -->
    <link href="../../static/assets/img/favicon.png" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/K8vgOLRhoxjijLZUoVEXgEKMogIuFXhQI5rQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../static/css/owl.carousel.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <style>
        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            transition: opacity 0.5s ease;
            pointer-events: none;
        }

        .loader {
            border: 8px solid #f3f3f3;
            border-top: 8px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .preloader.hidden {
            opacity: 0;
            pointer-events: none;
        }
    </style>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: white;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 33%;
            max-width: 700px;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 5px;
        }

        .loading-spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            border-top: 4px solid #3498db;
            width: 20px;
            height: 20px;
            animation: spin 1s linear infinite;
            margin-right: 5px;
            display: inline-block;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
            margin-left: 260px;
        }

        #compare-button,
        #compare-button-2 {
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }

        #compare-button:hover,
        #compare-button:focus,
        #compare-button-2:hover,
        #compare-button-2:focus {
            background-color: #45a049;
        }

        #next-button-1,
        #confirm-button {
            background-color: #e74c3c;
            color: #fff;
            border: none;
            width: 30%;
            border-radius: 5px;
            font-size: 20px;
            padding: 10px 20px;
            cursor: pointer;
        }

        #next-button-1:hover,
        #next-button-1:focus,
        #confirm-button:hover,
        #confirm-button:focus {
            background-color: #c0392b;
        }

        .close,
        .close-2 {
            color: black;
            border: none;
            font-size: 36px;
            padding: 5px 10px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .close:hover,
        .close:focus,
        .close-2:hover,
        .close-2:focus {
            background-color: #ff5555;
        }

        #summary-modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.7);
        }

        #summary-modal .modal-content {
            background-color: #fefefe;
            margin: 3% auto;
            height: 45%;
            padding: 20px;
            border: 1px solid #888;
            border-radius: 5px;
            text-align: center;
        }

        #summary-modal h2 {
            font-size: 24px;
        }

        #summary-modal p {
            font-size: 20px;
        }

        #summary-modal button {
            padding: 15px 30px;
            font-size: 24px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        #summary-modal button:hover {
            background-color: red;
        }

        #summary-modal-close-button {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
        }

        input[type="file"] {
            color: #ccc;
        }
    </style>
</head>

<body>
    <!-- preloader -->
    <div class="preloader" id="preloader">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="site-logo">
                        <img src="../../static/assets/img/logo.png" alt="">
                    </div>
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <nav class="main-menu">
                        <ul class="header-navigation">
                            <li><a href="../Overall/index.html" class="active">Home</a></li>
                            <li class="dropdown">
                                <a href="#">Exam Attendance</a>
                                <ul class="sub-menu">
                                    <li><a href="../IdentificationAndVerification/identificationCamera.html">Identification
                                            & Verification</a></li>
                                    <li class="nested-dropdown">
                                        <a href="#">Exam & Student Management</a>
                                        <ul class="nested-sub-menu">
                                            <li><a href="../ExamManagement/examdetail.html">Exam Management</a></li>
                                            <li><a href="../StudentManagement/studentdetail.html">Student Management</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Class Attendance</a></li>
                            {% if session.user and session.user.role == 'lecturer' %}
                            {% else %}
                            <li><a href="../Overall/profile.html">Profile</a></li>
                            {% endif %}
                            <!-- <li class="dropdown">
                                    <a href="#">Login</a>
                                    <ul class="sub-menu" style="width:150px;">
                                        <li><a href="../Overall/studentLogin.html">Student</a></li>
                                        <li><a href="../Overall/lecturerLogin.html">Lecturer</a></li>
                                        <li><a href="../Overall/profile.html">Profile</a></li>
                                    </ul>
                                </li> -->
                            {% if session.user and (session.user.role == 'lecturer' or session.user.role == 'student')
                            %}
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            {% else %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header section end -->
    {% if session.user and session.user.role == "student" %}
    {% if student_verify_value == 0 %}
    <!-- Page info -->
    <div class="page-info-section set-bg" data-setbg="../../static/assets/img/page-bg/2.jpg"
        style="width: 100%; height: 110%;">
        <div class="container">
            <div class="site-breadcrumb">
                <a href="../Overall/index.html">Home</a>
                <span>Identification & Verification</span>
            </div>
        </div>
        <form id="form1">
            <div style="text-align: center; margin-top: 100px;">
                <div id="webcam-container"
                    style="text-align: center; margin: 50px auto; padding: 10px; background-color: transparent; border: 2px solid #4CAF50; border-radius: 10px; width: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); position: relative;">
                    <p id="notification-1"
                        style="font-size: 20px; font-weight: bold; margin-top: 20px; color: rgba(255, 255, 255, 0.9);">
                        Click the button below to capture your student ID card.
                        <span style="position: absolute; top: 3px; right: 5px; cursor: pointer;"
                            onmouseover="showInfo()" onmouseout="hideInfo()">ⓘ</span>
                    </p>
                    <button id="access-button-1" onclick="showImageComparison(event)"
                        style="padding: 15px 30px; font-size: 24px; background-color: #FFA500; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin-top: 20px;">
                        Access Webcam
                    </button>
                    <div id="info-tooltip"
                        style="display: none; position: absolute; top: 5px; right: 40px; background-color: #fff; padding: 10px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                        <p style="text-align: justify;">
                            Information about capturing your student ID card:<br />
                            1. Press C to capture image.<br />
                            2. Hold V to quit the window.
                        </p>
                    </div>
                </div>
                <!-- remember change back to display: none -->
                <div id="image-comparison-container"
                    style="text-align: center; margin: 50px auto; padding: 10px; background-color: transparent; border: 2px solid #4CAF50; border-radius: 10px; width: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); position: relative; display: block;">
                    <p id="notification-2"
                        style="font-size: 20px; font-weight: bold; margin-top: 20px; color: rgba(255, 255, 255, 0.9); position: relative;">
                        Click the button below to compare images.
                        <span style="position: absolute; top: -30px; right: -5px; cursor: pointer;"
                            onmouseover="showInfoImage()" onmouseout="hideInfoImage()">ⓘ</span>
                    </p>
                    <button id="identify-button-1"
                        style="padding: 15px 30px; font-size: 24px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin-top: 20px;">
                        Identify
                    </button>
                    <div id="info-tooltip-image"
                        style="display: none; position: absolute; top: 5px; right: 40px; background-color: #fff; padding: 10px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                        <p style="text-align:justify">
                            Information about image comparison:<br />
                            1. Profile Image <br />
                            2. Student ID Card
                        </p>
                    </div>
                </div>
            </div>
            <!-- Modal Dialog -->
            <div id="modal-dialog" class="modal">
                <div class="modal-content">
                    <span class="close" id="modal-close-button">&times;</span>
                    <p style="font-size:20px; margin-top:10px;">Identification Result: <span id="result"><span
                                class="loading-spinner"></span> Loading...</span></p>
                    <p style="font-size:20px; margin-top:10px;"><span id="message"><span class="loading-spinner"></span>
                            Loading...</span></p>
                    <div class="button-container">
                        <!-- <button id="back-button">Back</button> -->
                        <button id="compare-button">Check Result</button>
                        <button id="next-button-1">Next</button>
                    </div>
                </div>
            </div>
        </form>
        <form id="form2" style="display: none;">
            <div style="text-align: center; margin-top: 100px;">
                <div id="webcam-container"
                    style="text-align: center; margin: 50px auto; padding: 10px; background-color: transparent; border: 2px solid #4CAF50; border-radius: 10px; width: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); position: relative;">
                    <p id="notification-1"
                        style="font-size: 20px; font-weight: bold; margin-top: 20px; color: rgba(255, 255, 255, 0.9);">
                        Click the button to retrieve exam authorization slip.
                        <span style="position: absolute; top: 3px; right: 5px; cursor: pointer;"
                            onmouseover="showInformation()" onmouseout="hideInformation()">ⓘ</span>
                        <button id="swapButton" onclick="swapMethod(event)"
                            style="position: absolute; top:40px; right:2px; border-radius:50%; background-color: red; color: white; padding: 10px; cursor: pointer;">
                        </button>
                    </p>
                    <center>
                        <button id="access-button-2" onclick="showSlipComparison(event)"
                            style="margin-top: 20px; padding: 15px 30px; font-size: 24px; background-color: #FFA500; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); width: 40%;">
                            Access Webcam
                        </button>
                    </center>
                    <!-- <form id="uploadForm" enctype="multipart/form-data">
                                <div class="upload-container" id="uploadContainer" style="margin-top: 20px; display: none;">
                                    <input type="file" name="file" id="fileInput" class="file-input" style="width:40%; padding: 10px 30px; border: 1px solid #ccc; background-color: transparent; font-size: 20px; cursor: pointer;">
                                    <input type="button" value="Upload" class="upload-button" onclick="showSlipComparison(event)" style="padding: 10px; border: none; background-color: #007bff; color: #fff; font-size: 16px; cursor: pointer;">
                                </div>
                            </form> -->
                    <div class="upload-container" id="uploadContainer" style="margin-top: 20px; display: none;">
                        <input type="file" name="file" id="fileInput" class="file-input"
                            style="width:40%; padding: 10px 30px; border: 1px solid #ccc; background-color: transparent; font-size: 20px; cursor: pointer;">
                        <button class="upload-button" id="uploadButton"
                            style="padding: 10px; border: none; background-color: #007bff; color: #fff; font-size: 16px; cursor: pointer;">Upload</button>
                    </div>

                    <div id="info-tooltip-verify"
                        style="display: none; position: absolute; top: 5px; right: 40px; background-color: #fff; padding: 10px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                        <p style="text-align: justify;">
                            Information about capturing your exam slip:<br />
                            There are two methods to retrieve slip, Please click red color button to swap methods<br />
                            First method: webcam access <br />
                            1. Press C to capture image.<br />
                            2. Hold V to quit the window.<br />
                            -------------------------------------<br />
                            Second method: image upload <br />
                            accepted format of image: .png, .jpg, .jpeg <br />
                        </p>
                    </div>
                </div>

                <div id="slip-comparison-container"
                    style="display: none; text-align: center; margin: 50px auto; padding: 10px; background-color: transparent; border: 2px solid #4CAF50; border-radius: 10px; width: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); position: relative;">
                    <p id="notification-2"
                        style="font-size: 20px; font-weight: bold; margin-top: 20px; color: rgba(255, 255, 255, 0.9); position: relative;">
                        Click the button below to compare slips.
                        <span style="position: absolute; top: -30px; right: -5px; cursor: pointer;"
                            onmouseover="showInfoSlip()" onmouseout="hideInfoSlip()">ⓘ</span>
                    </p>
                    <button id="verify-button"
                        style="padding: 15px 30px; font-size: 24px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin-top: 20px;">
                        Verify
                    </button>
                    <div id="info-tooltip-slip"
                        style="display: none; position: absolute; top: 5px; right: 40px; background-color: #fff; padding: 10px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                        <p style="text-align:justify">
                            Information about image comparison:<br />
                            1. Uploaded Slip (PDF)<br />
                            2. Captured Slip (JPG)
                        </p>
                    </div>
                </div>
            </div>
            <!-- Modal Dialog for Form 2 -->
            <div id="modal-dialog-2" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close" id="modal-close-button-2">&times;</span>
                    <!-- Add placeholders for results -->
                    <p style="font-size: 20px; margin-top: 10px;">Verification Result: <span id="result-2"><span
                                class="loading-spinner"></span> Loading...</span></p>
                    <p style="font-size: 20px; margin-top: 10px;"><span id="message-2"><span
                                class="loading-spinner"></span> Loading...</span></p>
                    <div class="button-container">
                        <!-- <button id="back-button-2">Back</button> -->
                        <button id="compare-button-2">Check Result</button>
                        <button id="confirm-button">Confirm</button>
                    </div>
                </div>
            </div>
            <div id="summary-modal" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close" id="summary-modal-close-button">&times;</span>
                    <h2>Summary</h2>
                    <br />
                    <p>Identification Result: <span id="identification-result"></span></p>
                    <p>Verification Result: <span id="verification-result"></span></p>
                    <p>Congratulations! You are identified and verified to attend the exam.</p>
                    <!-- <a href="index.html"><button id="summary-modal-ok-button">OK</button></a> -->
                    <button id="summary-modal-ok-button">OK</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Page info end -->
    {% else %}
        You are <b>verified</b> to attend the examination! 
    {% endif %}
    {% else %}
        Access Denied. You must be logged in as <b>student</b> to view this page. 
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("preloader").classList.add("hidden");
        });
        setTimeout(function () {
            document.getElementById("preloader").classList.add("hidden");
        }, 10000);
    </script>

    <script>
        function showImageComparison(event) {
            event.preventDefault();
            document.getElementById('image-comparison-container').style.display = 'block';
        }
    </script>

    <script>
        function showSlipComparison(event) {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Hide the webcam-container
            document.getElementById('webcam-container').style.display = 'none';

            // Show the image-comparison-container
            document.getElementById('slip-comparison-container').style.display = 'block';
        }
    </script>

    <script>
        function showInfo() {
            document.getElementById('info-tooltip').style.display = 'block';
        }

        function hideInfo() {
            document.getElementById('info-tooltip').style.display = 'none';
        }
    </script>

    <script>
        function showInfoImage() {
            document.getElementById('info-tooltip-image').style.display = 'block';
        }

        function hideInfoImage() {
            document.getElementById('info-tooltip-image').style.display = 'none';
        }
    </script>

    <script>
        function showInformation() {
            document.getElementById('info-tooltip-verify').style.display = 'block';
        }

        function hideInformation() {
            document.getElementById('info-tooltip-verify').style.display = 'none';
        }
    </script>

    <script>
        function showInfoSlip() {
            document.getElementById('info-tooltip-slip').style.display = 'block';
        }

        function hideInfoSlip() {
            document.getElementById('info-tooltip-slip').style.display = 'none';
        }
    </script>

    <!-- Script to forward form-->
    <script>
        const form1 = document.getElementById("form1");
        const form2 = document.getElementById("form2");
        const nextButton1 = document.getElementById("next-button-1");
        const backModalButton2 = document.getElementById("back-button-2");
        const modalDialog2 = document.getElementById("modal-dialog-2");

        nextButton1.addEventListener("click", (event) => {
            event.preventDefault();
            form1.style.display = "none";
            form2.style.display = "block";
        });

        backModalButton2.addEventListener("click", (event) => {
            event.preventDefault();
            modalDialog2.style.display = "none";
        });
    </script>

    <!--Script for Form 1 -->
    <script>
        document.getElementById('access-button-1').addEventListener('click', function () {
            fetch('/capture_images', {
                method: 'POST',
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert(data.message);
                    } else {
                        alert('Error: ' + data.message);
                    }
                })
                .catch(error => {
                    alert('Error: ' + error.message);
                });
        });
    </script>

    <script>
        var modal = document.getElementById("modal-dialog");
        var identifyButton = document.getElementById("identify-button-1");
        var closeButton = document.getElementById("modal-close-button");
        var nextButton = document.getElementById("next-button-1");

        nextButton.style.display = 'none';
        var compareButtonClicked = false;

        identifyButton.addEventListener('click', function (event) {
            modal.style.display = "block";
            event.preventDefault();
        });

        closeButton.addEventListener('click', function () {
            modal.style.display = "none";
            clearResults();
        });

        // Function to clear results and reset the state
        function clearResults() {
            document.getElementById('result').textContent = 'Calculating...';
            document.getElementById('message').textContent = 'Calculating...';
            nextButton.style.display = 'none';
            document.getElementById('compare-button').style.display = 'block';
            compareButtonClicked = false;
        }

        // Close the modal when the user clicks anywhere outside the modal
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
                clearResults();
            }
        }
    </script>

    <script>
        document.getElementById('compare-button').addEventListener('click', function (event) {
            event.preventDefault();

            document.getElementById('result').innerHTML = '<span class="loading-spinner"></span> Calculating...';
            document.getElementById('message').innerHTML = '<span class="loading-spinner"></span> Calculating...';
            var form1 = document.getElementById('image-comparison-container');
            fetch('/get_comparison_result', {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    const resultContainer = document.getElementById('result');
                    const similarityPercentage = data.similarity_percentage;
                    document.getElementById('message').textContent = data.message;
                    const threshold = data.threshold;

                    if (data.similarity_percentage < threshold) {
                        resultContainer.textContent = 'Fail';
                        nextButton.style.display = 'none';
                        form1.style.display = 'none';
                    } else {
                        resultContainer.textContent = 'Success';
                        nextButton.style.display = 'block';
                    }
                    document.getElementById('compare-button').style.display = 'none';
                    compareButtonClicked = true;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>

    <!--Script for Form 2 -->
    <script>
        function swapMethod(event) {
            event.preventDefault();
            const webcamButton = document.getElementById('access-button-2');
            const uploadContainer = document.getElementById('uploadContainer');
            webcamButton.style.display = webcamButton.style.display === 'none' ? 'block' : 'none';
            uploadContainer.style.display = uploadContainer.style.display === 'none' ? 'block' : 'none';
        }
    </script>

    <script>
        document.getElementById('access-button-2').addEventListener('click', function (event) {
            event.preventDefault();
            fetch('/capture_PDF', {
                method: 'POST',
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert(data.message);
                    } else {
                        alert('Error: ' + data.message);
                    }
                })
                .catch(error => {
                    alert('Error: ' + error.message);
                });
        });
    </script>

    <script>
        var modal2 = document.getElementById("modal-dialog-2");
        var verifyButton = document.getElementById("verify-button");
        var closeButton2 = document.getElementById("modal-close-button-2");
        var compareButton2 = document.getElementById("compare-button-2");
        var confirmButton2 = document.getElementById("confirm-button");
        confirmButton2.disabled = true;
        confirmButton2.style.display = 'none';
        // Open the modal when the Verify button is clicked in form 2
        verifyButton.addEventListener('click', function (event) {
            modal2.style.display = "block";
            event.preventDefault();
            clearResults2();
        });
        // Close the modal when the close button is clicked in form 2
        closeButton2.addEventListener('click', function () {
            modal2.style.display = "none";
            confirmButton2.style.display = 'none';
            clearResults2();
        });
        // Function to clear results for form 2
        function clearResults2() {
            document.getElementById('result-2').textContent = 'Loading...';
            document.getElementById('message-2').textContent = 'Calculating...';
            compareButton2.style.display = 'block';
            confirmButton2.style.display = 'none';
        }

        window.onclick = function (event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
                confirmButton2.style.display = 'none';
                clearResults2();
            }
        }     
    </script>

    <script>
        compareButton2.addEventListener('click', function (event) {
            event.preventDefault();

            document.getElementById('result-2').innerHTML = '<span class="loading-spinner"></span> Calculating...';
            document.getElementById('message-2').innerHTML = '<span class="loading-spinner"></span> Calculating...';
            var form2 = document.getElementById('slip-comparison-container');
            fetch('/get_pdf_comparison_result', {
                method: 'POST'
            })
                .then(response => response.json())
                .then(data => {
                    const resultContainer = document.getElementById('result-2');
                    const similarityPercentage = data.similarity_percentage;
                    const threshold = data.threshold;

                    if (similarityPercentage >= threshold) {
                        resultContainer.textContent = 'Success';
                    } else {
                        resultContainer.textContent = 'Fail';
                        form2.style.display = 'none';
                    }
                    document.getElementById('message-2').textContent = data.message;
                    confirmButton2.style.display = 'block';
                    confirmButton2.disabled = similarityPercentage < threshold;
                    compareButton2.style.display = 'none';
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>

    <script>
        function uploadFile() {
            var input = document.getElementById('fileInput');
            var file = input.files[0];
            var form2 = document.getElementById('slip-comparison-container');
            
            if (file) {
                var formData = new FormData();
                formData.append('file', file);

                fetch('/upload', {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            } else {
                alert('Please select a file before uploading.');
                // still not able to hide the form2
                form2.style.display = 'none';
            }
        }

        document.getElementById('uploadButton').addEventListener('click', function (event) {
            uploadFile();
            showSlipComparison(event);
        });
    </script>

    <!-- Script for Summary modal-->
    <script>
        confirmButton2.addEventListener('click', function (event) {
            event.preventDefault();
            modal2.style.display = "none";

            var summaryModal = document.getElementById("summary-modal");
            summaryModal.style.display = "block";

            const resultContainer = document.getElementById('identification-result');
            const resultContainers = document.getElementById('verification-result');
            resultContainer.textContent = 'Success';
            resultContainers.textContent = 'Success';
        });

        // //still dk why cant redirect back to index.html
        document.getElementById('summary-modal-ok-button').addEventListener('click', function () {
            $.ajax({
                url: '/update_student_verify',
                type: 'POST',
                success: function (verifyData) {
                    if (verifyData.success) {
                        console.log("Hello world!");
                        window.location.href = 'Overall/index.html';
                    } else {
                        console.error('Error updating student verification status:', verifyData.error);
                        alert('Error updating student verification status. Please try again.');
                    }
                },
                error: function (error) {
                    console.error('Network error:', error);
                    alert('Network error. Please try again.');
                }
            });
        });

        document.getElementById('summary-modal-close-button').addEventListener('click', function () {
            var summaryModal = document.getElementById("summary-modal");
            summaryModal.style.display = "none";
        });

        window.onclick = function (event) {
            var summaryModal = document.getElementById("summary-modal");
            if (event.target == summaryModal) {
                summaryModal.style.display = "none";
            }
        }
    </script>

    <!--====== Javascripts & Jquery ======-->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/mixitup.min.js"></script>
    <script src="../../static/js/circle-progress.min.js"></script>
    <script src="../../static/js/owl.carousel.min.js"></script>
    <script src="../../static/js/main.js"></script>
</body>

</html>